
<header class="navbar navbar-light sticky-top flex-md-nowrap p-0 shadow top-navbar">
    <a class="navbar-brand" href="#">
      <span class="logo">Appointment</span>
    </a>
    <div class="container-fluid top-nav-bg container-width">
        <app-profile [dragHandle]=true image={{image}} name ="Veeramanigandan" destination="Kids care Clinic"></app-profile>
        <mat-form-field class="date-picker" appearance="legacy">
          <mat-label>Choose a date</mat-label>
          <input matInput [value] = "currentDate">
        </mat-form-field>
    </div>
      <button type="button" class="btn btn-round text-blue mr-4" (click) ="routeToAppointment()" >Appointments</button>
      <button type="button" class="btn btn-round text-blue mr-4">Walk-In</button>
      <a class="nav-link  mr-4" href="#" tabindex="-1" aria-disabled="true"><span class="material-icons">
        settings
        </span></a> 
      
  </header>